@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('styles/moon-parallax.css');

:root {
    --primary-color: #0a2a43;
    --secondary-color: #ffffff;
    --accent-color: #ff6f61;
    --text-color: #333333;
    --background-color: #f5f5f5;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}